CONFIG_MCK_BYPASS=y
# CONFIG_HW_DISPLAY_BANNER is not set
CONFIG_BOOT_TIMING_MARKERS=y
CONFIG_QUIET_SUCCESS=y
CONFIG_DDR_SET_BY_DEVICE=y
CONFIG_DDR_AD210032F=y
CONFIG_SDCARD=y
# CONFIG_SDHC_8BIT_SUPPORT is not set
CONFIG_MMC_NONREMOVABLE=y
CONFIG_JUMP_ADDR="0x23f00000"
CONFIG_BOARD_QUIRK_SAMA5D2_SIP=y
# CONFIG_FATFS_LONG_FILENAME is not set
